*{
    background-color: #FEDDDD;
    color: #D13E3E;
    border: none;
    font-family: Capriola;
}

.SIGN {
    color: #FFFFFF;
    background-color: #D13E3E;
    border-radius: 20px;
}

.mediumimg{
  width: 130px;
  height: 130px;
}

.bigimg{
  width: 700px;
  height: 700px;
}

.smallimg{
  width: 130px;
  height: 130px;
}

.graytext{
    color: #A48888
}

.blacktext{
    color:#000000 ;
}